* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --primary: #0984e3;
  --card-size: 300px;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover {
  color: var(--primary);
}

a:active {
  color: var(--primary);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  font-family: 'Roboto', sans-serif;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  width: calc(var(--card-size));
  height: calc(var(--card-size) * 1.61);

  border-radius: .5rem;

  box-shadow:
    0 0.4px 1.4px -15px rgba(0, 0, 0, 0.26),
    0 1px 3.8px -15px rgba(0, 0, 0, 0.256),
    0 2.6px 9px -15px rgba(0, 0, 0, 0.24),
    0 15px 30px -15px rgba(0, 0, 0, 0.5)
  ;

  color: black;

  align-items: center;

  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card:hover {
  transform: scale(1.1);
}

.card-details {
  padding: 1rem 2rem;
}

.name {
  font-size: 2rem;
}

.occupation {
  font-weight: 600;
  color: var(--primary);
}

.bio {
  border-radius: .5rem .5rem 0 0;
  height: 100%;
  width: 100%;
}

.card-about {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}
