* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

section {
	position: relative;
	z-index: 1;
}

.fireworks {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	cursor: pointer;
}
